<% include partials/header %>

<!-- <div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Welcome to Gift Card Fun!</h1> -->

      <div class="container">
      	<div class="row">
      		<div class="col-lg-12">
      			<div class="content">
      				<h1>Shop Smarter</h1>
      				<h3></h3>
      				<hr>
      				<button class="btn btn-default btn-lg"><i class="fa fa-paw fa-fw"></i> Get Started!</button>
      			</div>
      		</div>
      	</div>
      </div>



<!-- end col -->
    </div>
<!-- end row -->
  </div>
<!-- end container --->
</div>


<% include partials/footer %>
