<% include partials/header %>

<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Welcome to Gift Card Fun!</h1>


<!-- end col -->
    </div>
<!-- end row -->
  </div>
<!-- end container --->
</div>


<% include partials/footer %>
