.first-page {
    background: url(https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=828346ed697837ce808cae68d3ddc3cf&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    height: 25%;
}

.first-page-two {
  	padding-top: 30%;
    margin-top: 25px;
    background: url(https://images.unsplash.com/photo-1512415073221-64c70eee25bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a10a52ce6040a1aa5ecfdc95495e255&auto=format&fit=crop&w=400&q=60);
    background-size: cover;
    background-position: center;
    height: 25%;
}

.first-page-three {
    margin-top: 25px;
    background: url(https://images.unsplash.com/photo-1514108225820-2b602873ac36?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7af7e1f23d5295674d2221e654de68ec&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    height: 25%;
}


.boxy {
  padding: 0 8px 0 8px;

}
.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.content-top{
	padding-top: 35%;
  padding-bottom: 40px;
  margin-bottom: 10px;
  margin-top: 25px;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.content-two{

	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.gc {
  margin: 35px;
}
.gutter{
  margin-top: 40px;
  visibility: hidden;
}
h4 {
  padding: 10px;
}

nav{
margin-bottom: 30px;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Lato";

}

h1 {
	font-weight: 700;
	font-size: 5em;
  color: white;
}


hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
